@import "vars";
@import "libs";
@import "fonts";
@import "global";

// ------------------------
// HEADER 
// ----------------------
.header{
  background-color: #654EA3;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu{
  display: flex;
  align-items: center;
  li{ 
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 22px;
    font-size: 18px;
    color: #ffffff;
    & + li {
      margin-left: 65px;
    }
  }
  .active-header{
    position: relative;
    span{
      z-index: 3;
    }
    &:after{
      content: '';
      position: absolute;
      left: -10%;
      background-color: #F2C03F;
      opacity: 0.75;
      width: 120%;
      height: 70%;
      transform: translateY(50%);
      z-index: 2;
   }
  }
}

.page-language{
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  .active-language{
    padding-right: 10px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    font-size: 16px;
    opacity: 0.75;
    
  }
  .choose-lang{
    transition: all .3s;
    overflow: hidden;
    position: absolute;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: #FFFFFF;
    width: 112px;
    height: 92px;
    padding: 5px 0 17px 16px;
    right: -25px;
    transform: translateY(10px); 
    a{
      color: #303030;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: -0.02em;
      &:active{
        color: #F2C03F;
      }
    }
    li{
      position: relative;
      cursor: pointer;
      padding: 12px 24px 12px 35px;
      
      display: flex;
      align-items: center;
      & + li{
        border-top: 1px solid rgba(#303030,.1);
      } 
    }
    .header-img__flag{
      position: absolute;
      left: 0;
      top: 10px;
    }
  }
  &::after{
    content: "\e904";
    font-family: 'icomoon';
    font-size: 18px;
    opacity: 0.75;
    right: -15px;
    top: -5px;
    position: absolute;
    color: #fff;
  }
}
.choose-lang--active{
  position: relative;
  &:before{
    content: "\e905";
    font-family: 'icomoon';
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
    color: #515151; 
  } 
}
.item--closed.choose-lang{
  box-shadow: 0 rgba(0, 0, 0, 0);
  transition: all .3s;
  position: absolute;
  border-radius: 0;
  background: #FFFFFF;
  width: 0;
  height: 0;
  padding: 0;
  right: -25px;
  transform: translateY(10px); 
  a{
    font-size: 0;
    line-height: 0;
    letter-spacing: -0.02em;
  }
  li{
    position: relative;
    padding: 0;
    color: #303030;
    display: flex;
    align-items: center;
    & + li{
      border-top: 0px solid rgba(#303030,.1);
    } 
  }
  .header-img__flag{
    display: none;
  }
  .choose-lang--active{
    &:before{
      right: 0;
      top: 0;
      font-size: 0;
      color: transparent; 
    } 
  }
}



@import "media";